<!DOCTYPE html>
<html>
	<head>
		<title>记录助手</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no" />
		<!-- import CSS -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	</head>
	<body>
		<div id="app">
			<div v-if="storeData.exerciseDate!=''">
				<el-tag>{{storeData.exerciseDate}}</el-tag><el-tag style="margin-left: 5px;">完成“{{storeData.exerciseName}}”训练</el-tag>
			</div>
			<div v-else>
				<el-tag>未完成任何训练</el-tag>
			</div>
			
			
			<el-tabs style="height: 80vh;" v-model="storeData.exerciseName">
				<el-tab-pane v-for="c in contentAarray" :label="c.name" :name="c.name">
					<el-steps direction="vertical" style="height: 80vh" :active="999">
						<el-step v-for="d in c.content" :title="d.do" :description="d.detail"></el-step>
					</el-steps>
				</el-tab-pane>

			</el-tabs>
			<el-button type="danger" style="position:fixed;right: 45px;top: 45vh;" @click="finishMark">完成</el-button>
		</div>
	</body>
	<!-- import Vue before Element -->
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<!-- import JavaScript -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script>
	<script>
		new Vue({
			el: '#app',
			data: function() {
				return {
					storeData: {
						exerciseName: "胸",
						exerciseDate: "",
					},
					contentAarray: [{
							name: "胸部",
							content: [{
									do: "招财猫激活",
									detail: ""
								},
								{
									do: "上推下胸",
									detail: "背贴紧,双杆臂屈伸"
								},
								{
									do: "推胸4组",
									detail: "和胸口平行"
								},
								{
									do: "夹胸4组",
									detail: "不要耸肩"
								},
								{
									do: "平板撑4组",
									detail: ""
								}
							]
						},
						{
							name: "背部",
							content: [{
									do: "单边激活各四组",
									detail: "看镜子，尽量用背，不要用手"
								},
								{
									do: "引体向上4组",
									detail: "收腹"
								},
								{
									do: "下拉夹背4组",
									detail: "收腹，收胸，手臂手肘和身体平行"
								},
								{
									do: "坐姿划船4组",
									detail: "屁股往后坐"
								},
								{
									do: "躺下抬脚4组",
									detail: ""
								}
							]
						},
						{
							name: "腿部",
							content: [{
									do: "深蹲四组",
									detail: "10kg"
								},
								{
									do: "向内夹腿四组，",
									detail: "50kg，可以尝试55kg"
								},
								{
									do: "向上抬腿四组",
									detail: ""
								},
								{
									do: "趴下抬腿4组",
									detail: ""
								},
								{
									do: "扶腰下蹲左右各4组",
									detail: ""
								},
								{
									do: "靠墙下蹲4组",
									detail: ""
								},
								{
									do: "侧腹卷曲4组",
									detail: ""
								}
							]
						},
						{
							name: "手臂",
							content: [{
									do: "二头各4组",
									detail: "脚伸过去，靠着"
								},
								{
									do: "三头绳子下啦四组",
									detail: "后站"
								},
								{
									do: "杆子反拉四组",
									detail: "后站"
								},
								{
									do: "杆子正拉四组",
									detail: "前站"
								},
								{
									do: "平板撑4组",
									detail: ""
								}
							]
						}
					]
				}
			},
			methods: {
				loadData() {
					let rs = $cookies.get("STORE_DATA")
					if (rs != null) {
						this.storeData=rs
					}else{
						this.storeData={
						exerciseName: "胸",
						exerciseDate: "",
					}
					}
				},
				finishMark() {
					this.$confirm('确认完成"' + this.storeData.exerciseName + '"部分训练?', '提示', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning'
					}).then(() => {
						this.storeData.exerciseDate = this.dateFormat(new Date())
						$cookies.set("STORE_DATA",this.storeData)
						this.$message({
							type: 'success',
							message: '保存成功!'
						});
					}).catch(() => {
						
					});



				},
				dateFormat(time) {
					return `${time.getFullYear()}年${time.getMonth() + 1 >= 10 ? (time.getMonth() + 1):'0' + (time.getMonth() + 1)}月${time.getDate() >= 10 ? time.getDate()+'日 ':'0' + time.getDate()+'日 '}${time.getHours() >= 10 ? time.getHours():' 0' + time.getHours()}:${time.getMinutes()>=10?time.getMinutes():'0'+time.getMinutes()}:${time.getSeconds() >= 10 ? time.getSeconds():'0' + time.getSeconds()}`;
				}

			},
			mounted: function() {
				this.$cookies.config(new Date(2222, 02, 02).toUTCString())
				this.loadData();
			}
		})
	</script>
</html>
